<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
    <base target="_parent" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> WeLearn - {% block title %} Welcome! {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >

    <!--Loading from CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha256-fx038NkLY4U1TCrBDiu5FWPEa9eiZu01EiLryshJbCo=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--Local CSS-->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <!-- Loading from CDN -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body class="user-select-none">

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top p-0">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav w-100 mb-2 mb-lg-0 justify-content-between ">
        <li class="nav-item col-auto">
              <a class="nav-item nav-link" href="{% if request.we_user.is_tutor %}/tutor/{% else %}/home/{% endif %}"><i class="fs-3 bi-house-door-fill"></i></a>
        </li>
            <span class="navbar-brand px-2 brand fs-2">WeLearn</span>
        <li class="nav-item col-auto">
          <a class="nav-item nav-link" href="/profile"><i class="bi-person-fill fs-3 me-3"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="parallax parallax-1">
    {% block body_block %}Body Block to Override{% endblock %}
</div>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      I will not close if you click outside of me.
    </div>
  </div>
</div>

</body>

<!-- Local JS files -->

</html>