{% extends 'base.html' %}

{% block title %} {{ course.title }} {% endblock %}

{% block body_block %}
    <div class="container-fluid pt-3">
        {% if course.tier.label in request.COOKIES.allowed_tiers %}
            <div class="row justify-content-between pb-0 pt-2">
                <div class="col-auto">
                    <h2 class="fw-bold ps-2"> {{ course.title }}</h2>
                </div>
                {% if course.is_enrolled %}
                    <div class="col-auto">
                    <span class="text-capitalize fw-light badge rounded-pill bg-success fs-4">
                        Enrolled
                    </span>
                    </div>
                {% else %}
                    <div class="col-auto">
                        <form method="post" action="/course/{{ course.id }}/enroll/">
                            {% csrf_token %}
                            <button class="btn btn-primary"><i class="bi-check-lg fs-5 me-2"></i>Enroll</button>
                        </form>
                    </div>
                {% endif %}
                <div class="fw-light fs-5 ms-2 mb-3">
                    by {{ course.tutor.first_name }} {{ course.tutor.last_name }}
                    <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Chat with Tutor" class="btn btn-outline-dark ms-2" href="/mail/?user_id={{ course.tutor.id }}">
                        <i class="bi-chat-dots fs-6"></i>
                    </a>
                </div>
            </div>

            <div class="blur-container w-100 mx-auto mt-3">
                <div class="blur-background light-theme p-3">
                    <div class="form-control">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {%  for module in modules %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if forloop.first %}active{% endif %}" id="{{ module.title }}-tab" data-bs-toggle="tab" data-bs-target="#{{ module.id }}-tab-pane" type="button" role="tab" aria-controls="{{ module.id }}-tab-pane" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" {% if module.is_locked %}disabled{% endif %}>
                                        {% if module.is_locked %}
                                            <i class="bi-lock"></i>
                                        {% endif %}
                                        {{ module.title }}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content bg-white" id="moduleTabContent">
                            {%  for module in modules %}
                                {% if module.is_locked %}
                                    <div class="tab-pane{% if forloop.first %} show active{% endif %} fade p-3" id="{{ module.id }}-tab-pane" role="tabpanel" aria-labelledby="{{ module.title }}-tab" tabindex="0">
                                        <h4>This Module is Locked</h4>
                                    </div>
                                {% else %}
                                    <div class="tab-pane{% if forloop.first %} show active{% endif %} fade p-3" id="{{ module.id }}-tab-pane" role="tabpanel" aria-labelledby="{{ module.title }}-tab" tabindex="0">
                                        <span class="fs-5">{{module.description}}</span>
                                        {% for content in  module.contents.all %}
                                            <div class="form-control w-75 mx-auto">
                                                {% if content.file %}
                                                    <object data="/media/{{ content.file }}/">
                                                        <a class="btn btn-outline-primary" href="/media/{{ content.file }}/"><i class="bi-download fs-5 me-2"></i>{{ content.file.name }}</a>
                                                    </object>
                                                {% elif content.youtube_video %}
                                                    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/tgbNymZ7vqY">

                                                    </iframe>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        {% if module.quiz %}
                                            {% if module.is_passed %}
                                                <div class="row justify-content-end">
                                                    <div class="col-auto">
                                                        <a class="btn btn-outline-secondary" href="/quiz/{{ module.id }}/"><i class="bi-pencil-square fs-5 me-2"></i>Retake Quiz</a>
                                                    </div>
                                                    {% if forloop.last%}
                                                        <div class="col-auto">
                                                            <a class="btn btn-outline-primary" href="/cert/{{ course.id }}/"><i class="bi-download fs-5 me-2"></i> Certificate</a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                <div class="row justify-content-end">
                                                    <div class="col-auto">
                                                        <a class="btn btn-outline-success" href="/quiz/{{ module.id }}/"><i class="bi-pencil-square fs-5 me-2"></i>Take Quiz</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            {% if forloop.last%}
                                                <div class="row justify-content-end">
                                                    <div class="col-auto">
                                                        <a class="btn btn-outline-primary" href="/cert/{{ course.id }}/"><i class="bi-download fs-5 me-2"></i> Certificate</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="form-control">
                <h3>Oops! You don't have access to this course</h3>
            </div>
        {% endif %}
    </div>

    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl,{
            trigger : 'hover'}))
    </script>
{% endblock %}