
{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body_block %}
    <div class="container-fluid pt-3">
        <div class="blur-container w-25 mx-auto">
            <div class="blur-background light-theme p-3">
                <form method="post">
                    {%  csrf_token %}
                    <div class="form-floating mb-3">
                        {{ loginForm.username }}
                        <!--<input  type="text" id="username" placeholder="Username">-->
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ loginForm.password }}
                        <!--<input class="form-control" type="password" id="password" placeholder="Password">-->
                        <label for="username">Password</label>
                    </div>
                    {% if error_message %}
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <i class="bi-exclamation-triangle"></i>
                            {{ error_message }}
                        </div>
                    {% endif %}
                    <div class="d-grid gap-2 col-6 mx-auto mb-2">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                    <div class="d-grid col-8 mx-auto">
                        <a class="icon-link link-secondary text-decoration-none icon-link-hover" href="/signup">
                        Not a WeLearn user?, Sign up now!
                        <i class="bi-arrow-right"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

