{% extends 'base.html' %}

{% block title %} Uwindsor PayGate {% endblock %}

{% block body_block %}
    <div class="container-fluid py-5">
        <h1 class="ms-5">Uwindsor PayGate</h1>
        <div class="blur-container w-50 mx-auto">
            <div class="blur-background  p-3">
                <div class="form-control p-4">
                    <h2 class="fw-bold text-center">
                        Upgrading to <span class="text-capitalize fw-light badge rounded-pill bg-tier-{{ tier }}">
                    {{ tier }}
                    </span>
                    </h2>
                    <h4>Billing information</h4>
                    <form action="/payment/?bi_id={{ bi_id }}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-floating mb-3">
                                {{ field }}
                                <label for="{{ field.id }}">{{ field.label }}</label>
                            </div>
                        {% endfor %}
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-success text-center col-auto">Pay Now<i class="ps-2 bi-credit-card"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
