<!-- billing_page.html -->

{% extends 'base.html' %}

{% block title %} Billing Page {% endblock %}

{% block body_block %}

    <div class="container-fluid py-5">
        <div class="blur-container w-50 mx-auto">
            <div class="blur-background  p-3">
                <div class="form-control p-4">
                    <h2 class="fw-bold text-center">Upgrading to <span class="text-capitalize fw-light badge rounded-pill bg-tier-{{ tier }}">
                                        {{ tier }}
                                    </span></h2>
                    <form id="payment-form" action="{% url 'welearn:success_page' %}" method="get">
                        <div id="paypal-button-container"></div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=AdO7itlRZy5CBXVKatyR1YYtZ5ZwzAcSHRQANL9MDcRgeXG1b7-CAf6SlN5DRU2_wAubrdScVLI1lul5&currency=CAD"></script>
    <script>
        paypal.Buttons({
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{ amount }},
                        },
                        custom_id: {{request.we_user.id}},
                        billing_id:{{ bid }}
                    }],
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Redirect to your success URL after successful payment
                    window.location.href = '{% url 'welearn:success_page' %}?paypal=true&paymentId=' + data.orderID + '&billing_id={{ bid }}';
                });
            },
            onError: function (err) {
                // Handle payment errors here
                window.location.href = '{% url 'welearn:payment_fail_page' %}?error_message=Paypal payment failed';
                console.log(err);
            }
        }).render('#paypal-button-container');
    </script>

{% endblock %}
