<!DOCTYPE html>
<html>

<head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <section>
        <div class="product">
            <div class="description">
                <h3>Sample</h3>
                <hr />

                <div>
                    <h5>Submit form</h5>
                    <form action="/create-checkout-session/1/" method="POST">
                        {% csrf_token %}
                        <button type="submit">Checkout</button>
                    </form>
                    </form>
                </div>

            </div>
        </div>
    </section>
</body>

</html>