
{% extends 'base.html' %}

{% block title %} Courses {% endblock %}

{% block body_block %}
    <div class="container-fluid pt-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1 class="p-3 fw-bold"> Courses </h1>
            </div>
            <div class="col-auto my-auto">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCourseModal">Build Course</button>
            </div>
        </div>
        <div class="blur-container w-100 mx-auto">
            <div class="blur-background p-3">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 p-3">
                    {% for course in courses %}
                        <div class="col">
                            {% include 'components/course_card_tutor.html' with course=course %}
                        </div>
                    {%  empty %}
                        <h4>You haven't created any courses</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {%  include 'components/create_course.html' %}
    <script>

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl,{
            trigger : 'hover'}))

</script>
{% endblock %}


