:root {
    --background-url: url("../images/background-large.png");
}

.accordion-button-none::after {
    background: none !important;
}

body{
    height:100%;
}
html{
    height:100%;
}


.brand{
    font-family: Chalkduster, serif;
    background: linear-gradient(to left, #C5A0A0
    ,#E5CC64, #B669FF,  #D2E19E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.parallax {
    /* The image used */
    background-image: var(--background-url, url("../images/background.png"));

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: #FAEBD7AA !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 0 0 8px 8px !important;
}

.welcome-text {
    color:white;
    font-weight: bold;
    font-size: xxx-large;
}

.blur-container{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: grey 1px 1px 5px;
    border-radius: 10px;
}

.blur-background{
    border-radius: 10px;
}

.dark-theme .blur-background{
    background-color: #44444488;
    color:white;
}

.light-theme .blur-background{
    background-color: #EEEEEE88;
    color:black;
}

.modal {
    backdrop-filter: blur(5px) !important;
    background-color: #EEEEEE44 !important;
}


.card:hover .card-img-overlay{
    opacity: 1;
}

.card-img-overlay{
    z-index: 10;
    background:white;
    transition: 0.2s;
    opacity: 0;
}

.bg-tier-bronze{
    background: linear-gradient(90deg, rgba(205,127,50,1) 20%, rgba(252,161,71,1) 80%);
    color: black;
}

.bg-tier-silver{
    background: linear-gradient(90deg, rgba(192,192,192,1) 20%, rgba(231,231,231,1) 80%);
    color: black;
}

.bg-tier-gold{
    background: linear-gradient(90deg, rgba(203,164,1,1) 20%, rgba(255,215,0,1) 80%);
    color: black;
}

.btn-outline-tier-silver,.btn-outline-tier-bronze,.btn-outline-tier-gold {
    transition: 0.2s;
}

.btn-outline-tier-silver {
    background: linear-gradient(90deg, rgba(192,192,192,1) 20%, rgba(231,231,231,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-outline-tier-silver:hover {
    background: linear-gradient(90deg, rgba(192,192,192,0.7) 20%, rgba(231,231,231,0.7) 80%);
    color: black;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}

.btn-check:checked+.btn-outline-tier-silver{
    background: linear-gradient(90deg, rgba(192,192,192,1) 20%, rgba(231,231,231,1) 80%);
    color: black;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}

.btn-outline-tier-bronze {
    background: linear-gradient(90deg, rgba(205,127,50,0.5) 20%, rgba(252,161,71,0.5) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-outline-tier-bronze:hover {
    background: linear-gradient(90deg, rgba(205,127,50,0.7) 20%, rgba(252,161,71,0.7) 80%);
    color: black;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}

.btn-check:checked+.btn-outline-tier-bronze{
    background: linear-gradient(90deg, rgba(205,127,50,1) 20%, rgba(252,161,71,1) 80%);
    color: black;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}

.btn-outline-tier-gold {
    background: linear-gradient(90deg, rgba(203,164,1,0.5) 20%, rgba(255,215,0,0.5) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-outline-tier-gold:hover {
    background: linear-gradient(90deg, rgba(203,164,1,0.7) 20%, rgba(255,215,0,0.7) 80%);
    color: black;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}

.btn-check:checked+.btn-outline-tier-gold{
    background: linear-gradient(90deg, rgba(203,164,1,1) 20%, rgba(255,215,0,1) 80%);
    color: black;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}

.btn-tier-bronze {
    background: linear-gradient(90deg, rgba(205,127,50,0.5) 20%, rgba(252,161,71,0.5) 80%);
    color:black;
}

.btn-tier-silver {
    background: linear-gradient(90deg, rgba(192,192,192,0.7) 20%, rgba(231,231,231,0.7) 80%);
    color: black;
}

.btn-tier-gold {
    background: linear-gradient(90deg, rgba(203,164,1,0.7) 20%, rgba(255,215,0,0.7) 80%);
    color: black;
}

.card-course-body{
    cursor:pointer;
}

.card-course{
    transition: 250ms;
}

.card-course:hover{
    box-shadow: darkgray 1px 1px 15px;
}


.fixed-height-container {
  height: 7em;
  overflow: hidden;
  position: relative;
}

.fixed-height-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}