<div class="modal fade" id="createCourseModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="createCourseLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createCourseLabel">Create a course</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="create_course" onsubmit="createCourse(event)">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" id="course_title" placeholder="Title" required/>
                        <label for="course_title">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.description }}
                        <textarea class="form-control" id="course_desc" placeholder="Description" rows="5" style="height:100%;" required></textarea>
                        <label for="course_desc">Description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="selectpicker" data-live-search="true" title="Choose a category" data-width="100%" id="course_cat" required>
                            {% for category in categories %}
                                <option value="{{ category.id }}" data-tokens="{{ category.tokens }}">{{ category.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control form-control-sm" id="course_tags" placeholder="tags" required/>
                        <label for="course_tags">Tags</label>
                        <div id="tags" class="form-text">Add space separated tags for searching</div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Hours" id="course_hours" required>
                            <span class="input-group-text">Hours</span>
                            <input type="text" class="form-control" aria-label="Minutes" id="course_mins" required>
                            <span class="input-group-text">Minutes</span>
                        </div>
                        <div id="course_duration" class="form-text">Expected length of your course</div>
                    </div>
                    <div class="mb-3">
                        <div class="btn-group" role="group" aria-label="Tier selection">
                            <input type="radio" class="btn-check " name="course_tier" id="tier_bronze" autocomplete="off" value="bronze" checked>
                            <label class="btn btn-tier-bronze btn-outline-secondary" for="tier_bronze">Bronze</label>

                            <input type="radio" class="btn-check" name="course_tier" id="tier_silver" autocomplete="off" value="silver">
                            <label class="btn btn-tier-silver btn-outline-secondary" for="tier_silver">Silver</label>

                            <input type="radio" class="btn-check" name="course_tier" id="tier_gold" autocomplete="off" value="gold">
                            <label class="btn btn-tier-gold btn-outline-secondary" for="tier_gold">Gold</label>
                        </div>
                        <div id="tags" class="form-text">Pay tier for your course</div>
                    </div>
                    <div class="alert alert-danger d-flex align-items-center d-none" role="alert" id="course_alert">
                        <i class="bi-exclamation-triangle"></i>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="create_course_button">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    var courseModal = $('#createCourseModal')
    courseModal.on('hidden.bs.modal',(event)=>{

        const course_form = $("form#create_course");
        course_form.find(':input').val('');
        course_form.find('#course_cat').selectpicker('val', '');
        course_form.find('input[name="course_tier"]').prop('checked',false);
        course_form.find('#tier_bronze').prop('checked',true);
        course_form.removeAttr('data-id');

    });
    courseModal.on('show.bs.modal',(event)=>{
        const course_form = $("form#create_course");
        const courseModal = $('#createCourseModal');
        const course_id = course_form.attr('data-id');
        courseModal.find("#createCourseLabel").html("Create a Course");
        courseModal.find("#create_course_button").html("Create");
        if(course_id){
            courseModal.find("#createCourseLabel").html("Edit a Course");
            courseModal.find("#create_course_button").html("Save");
        }
    });



    function createCourse(event){


        const course_form = $("form#create_course");
        const course_id = course_form.data('id');
        const title = course_form.find('#course_title').val();
        const desc = course_form.find('#course_desc').val();
        const cat = course_form.find('#course_cat').val();
        const tags = course_form.find('#course_tags').val();
        const hrs = course_form.find('#course_hours').val();
        const mins = course_form.find('#course_mins').val();
        const tier = course_form.find('input[name="course_tier"]:checked').val();

        const courseData = {
            'title':title,
            'description':desc,
            'category':cat,
            'tags': tags,
            'hrs':hrs,
            'mins':mins,
            'tier_name':tier,
            'is_published':false
        }
        event.preventDefault();
        const csrfToken = Cookies.get('csrftoken');
        var url = '/tutor/course/';
        if(course_id){
            url+=course_id+'/'
        }
        $.ajax(url,
        {
            method: "post",
            headers: {
                'X-CSRFToken': csrfToken
            },
            data: courseData,
            success: function(response){
                location.reload();
            },
            error: function(error){
                console.log(JSON.parse(error.responseJSON.errors));

            }
        });
    }
</script>
